/* -------------------- */
/* TRANSLATIONS */

/* Hide Google translate */
#google_translate_element {
    display: none !important;
}

/* Hide the translated page dropdown */
.skiptranslate {
    visibility: hidden !important;
}

/* Style and place the translation links */
.translation_links {
    display: inline;
	font-family: 'DINosaur', Arial, 	Helvetica, serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 1.4em;
	list-style-type: none;
}
.translation_links li:not(:last-child) {
	margin-left: 2vw;
}
.translation_links li {
    float: right;
    display: block;
    color: #962026;
    text-align: center;
    line-height: 1.6em;
}
#translation {
	position: absolute;
	display: block;
	top: 0;
	z-index: 99;
	width: 100%;
	box-sizing: border-box;
	padding-top: 1.75vw;
	padding-bottom: 1vw;
	padding-left: 4vw;
	padding-right: 4vw;
	text-align: right;
	margin: 0;
}
.translation_links .selected {
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,currentColor 100%,currentColor 0);
    background-size: 1px 1px;
    background-position: 0 calc(100% - 0.1em);
    padding: .2em 0;
}

/* Style hover and focus on language links */
a.language_link:hover, a.language_link:focus {
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,currentColor 100%,currentColor 0);
    background-size: 1px 1px;
    background-position: 0 calc(100% - 0.1em);
    padding: .2em 0;
}

/* -------------------- */
/* HEADER */

/* Decrease height of header */
.header .header-announcement-bar-wrapper {
    padding-bottom: 2vw;
}

/* Keep pointer as default when hovering over non-clickable folder */
a.header-nav-folder-title {
    cursor: default;
}

/* Add color to active nav link */
.header-nav-item--active>a:first-child {
    color: #962026 !important;
}

/* Add states to nav items */
.header-nav-item a:hover, .header-nav-item a:focus, .header-nav-folder-item--active a {
    color: #962026 !important;
    background-repeat: repeat-x !important;
    background-image: linear-gradient(to right,currentColor 100%,currentColor 0) !important;
    background-size: 1px 1px !important;
    background-position: 0 calc(100% - 0.1em) !important;
}

/* Change width of dropdown content underline */
.header-nav .header-nav-item--folder .header-nav-folder-content {
    min-width: auto;
}

/* -------------------- */
/* PAGE */

/* Keep body at the top of the page even after selecting translations */
body {
    top: 0;
}


/* Decrease space between sections */
.page-section.vertical-alignment--middle:not(.content-collection):not(.gallery-section):not(.user-items-list-section).section-height--medium>.content-wrapper {
	padding-top: 0;
}

decrease space between 
#page .page-section:first-child .content-wrapper {
    padding-bottom: 0;
}