/* Custom CSS */
/* ----------------------- */

/* hid google translate element */
#google_translate_element {
    display: none !important;
}

.skiptranslate {
    visibility: hidden !important;
}

#translation.mobile {
    display: none;
}

.translation_links {
    display: inline;
   font-family: 'DINosaur', Arial, Helvetica, serif;
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 0.01em;
   line-height: 1.4em;
     list-style-type: none;
}
.translation_links li:not(:last-child) {
   margin-left: 1vw;
}
.translation_links li {
 float: right;
 display: block;
 color: #962026;
 text-align: center;
}

#translation {
   position: absolute;
   display: block;
   top: 0;
   z-index: 99;
   width: 100%;
   box-sizing: border-box;
   padding-top: 0.75vw;
   padding-bottom: 1vw;
   padding-left: 4vw;
   padding-right: 4vw;
     text-align: right;
   margin: 0;
}

.translation_links .selected {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    #translation.desktop {
        display: none;
    }
    #translation.mobile {
        display: block;
    }
}