/*External Resources Buttons*/

/*making buttons center-aligned on the page*/

/* uncomment the following line of code if needing to copy to Squarespace
[data-section-id="6071fa1df13bcd06e30588a9"]{*/

/*External Resources Buttons*/

/*making buttons center-aligned on the page*/


    .sqs-row {
      position: relative;
        display:flex;
        justify-content:center;
      align-items:center;
      
      /* avoid the buttons spread throughout the screen */
      /* width:80% !important; */
      /* center the button container */
      margin:0 auto;
   
  }
  
    .sqs-col-12 .sqs-col-3 {
      width: auto !important;
  }
    
    /* controlling the height of the button container */
    .sqs-layout{
      height:3rem;
        padding-top:1rem;
      position: relative;
        display:flex;
        justify-content:center;
      align-items:center;
      
    }
    
    a.sqs-block-button-element{
      /* making button text center aligned */
      display:inline-flex;
      align-items:center;
      justify-content:center;
      
      /* defining button color */
      color:#962026;
      font-size:0.8rem;
      background-color:white;
      border: 2px solid #962026;
      
       /* adjusting button size to make them look more balanced */
     
      padding: 0.6rem 1rem;
      min-width:3rem;
      min-height:2rem;
      margin:0;
  
  }
    
    .sqs-block-button-element:hover{
        background-color:#962026 !important;
        color:white  !important;
      border:2px solid white;
  }
  
  .sqs-block-button-element:focus{
    background-color:#611216;
    color:white;
  }
  /*  uncomment the following line of code if needing to copy to Squarespace
        } */
  
  /* the active class that will be added to the selected button */
  .button_active{
     background-color:#962026 !important;
        color:white  !important;
      border:2px solid white;
  }
  
  @media only screen and (max-width: 500px) {

    /*  uncomment the following line of code if needing to copy to Squarespace
         [data-section-id="6071fa1df13bcd06e30588a9"]  { */
 
    .sqs-row {
      position: relative;
        display:flex;
        justify-content:flex-start;
      align-items:center;
      flex-wrap:wrap;
      
      
      /* avoid the buttons spread throughout the screen */
      /* width:80% !important; */
      /* center the button container */
      margin: auto;
   
        }
         /* controlling the height of the button container */
    .sqs-layout{
      height:auto;
        padding-top:1rem;
      position: relative;
        display:flex;
        justify-content:center;
      align-items:center;
      
    }
    
    a.sqs-block-button-element{
      /* making button text center aligned */
      display:inline-flex;
      align-items:center;
      justify-content:center;
      
      /* defining button color */
      color:#962026;
      font-size:0.8rem;
      background-color:white;
      border: 2px solid #962026;
      
       /* adjusting button size to make them look more balanced */
     
      padding: 0.5rem 0.6rem;
      min-width:3rem;
      min-height:2rem;
      margin:0;
  
  }
  /*  uncomment the following line of code if needing to copy to Squarespace
    }*/
  }
  